[Desktop Entry]
Version=1.0
Name[pt_BR]=Terminal Xfce
Name[pt]=Terminal Xfce
Name=Xfce Terminal
Comment[pt_BR]=Emulador de terminal
Comment[pt]=Emulador de terminal
Comment=Terminal Emulator
GenericName[pt_BR]=Emulador de terminal
GenericName[pt]=Emulador de terminal
GenericName=Terminal Emulator
Keywords[pt_BR]=terminal;linha de comando;prompt;cli;cmd;xterm;bash;shell;dos;
Keywords[pt]=terminal;linha de comandos;prompt;cli;cmd;xterm;bash;shell;dos;
Keywords=terminal;command line;prompt;cli;cmd;xterm;bash;shell;dos;
Exec=xfce4-terminal
Icon=org.xfce.terminal
Terminal=false
Type=Application
Categories=GTK;System;TerminalEmulator;
StartupNotify=true
Actions=preferences;
X-XFCE-Source=file:///usr/share/applications/xfce4-terminal.desktop

[Desktop Action preferences]
Name[pt_BR]=Preferências do terminal
Name[pt]=Preferências do Terminal
Name=Terminal Preferences
Exec=xfce4-terminal --preferences
